body{
    height: 100vh;
    padding: 25px 60px;
}
a{
    text-decoration: none;
}
.nav-logo a{
    font-size: 25px;
    font-weight: 600;
    font-family: 'Raleway', sans-serif;
    opacity: 0;
    animation: slideInLeft 1s ease forwards;
}
.nav-logo i{
    font-style: normal;
    color: #2AADFF;
}
.nav-logo b{
    color: #EF3E66;
}
.nav-menu{
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    opacity: 0;
    animation: slideInRight 1s ease forwards;
    animation-delay: 0.5s;
}
.nav-item{
    margin-right: 30px;
}
.nav-item a{
    color: #000;
    font-size: 15px;
    padding: 5px 30px;
}
.nav-menu .email{
    font-size: 13px;
    background: #292929;
    width: 160px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-weight: 400;
}
.nav-item a:hover {
    transform: translateY(-5px);
    transition: transform 0.3s ease;
}
.email{
    display: inline-block;
    transition: all 0.3s ease;
}
.email:hover{
    width: 180px;
    background-color: #161616; 
    color: #fff;
    border-radius: 5px;
    padding: 5px 0;
    box-shadow: 0 3px 3px rgb(170, 170, 170);
}
.hamburger {
    display: none;
    font-size: 30px;
    cursor: pointer;
}
.container-fluid {
    padding-top: 20px;
}
.image-container {
    display: flex;
    justify-content: center;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    opacity: 0;
    animation: fadeInUp 1s ease forwards;
}
.image-container img {
    transition: transform 0.5s ease-in-out;
    animation: fadeInUp 1s ease forwards;
}
.image-container:hover img {
    transform: scale(0.9);
}

.content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    opacity: 0;
    animation: slideInLeft 1s ease forwards;
}
.intro-text h1 {
    font-family: "Rozha One", serif;
    font-size: 86px;
    font-weight: 1000;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    margin-bottom: 10px;
    color: #3E3E3E;
    margin: 0;
}
.intro-text p {
    font-family: 'Poppins', sans-serif;
    font-size: 46px;
    margin-bottom: 20px;
    font-weight: 500;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    color: #fff;
}
.contact-info {
    width: 100%;
    margin-bottom: 20px;
    font-family: 'Poppins',sans-serif;
    margin: 0;
}
.contact-info p {
    font-size: 20px;
}
.contact-info a {
    color: #161616;
    text-decoration: underline;
}
.contact-info a:hover {
    text-decoration: underline;
}
.buttons-container {
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    padding-top: 15px;
    gap: 10px;
    opacity: 0;
    animation: fadeInUp 1s ease forwards;
    animation-delay: 0.5s;
    position: relative;
    z-index: 1;
}
.btn {
    border-radius: 5px;
    font-weight: bold;
    padding: 12px 20px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}
.btn:hover {
    opacity: 0.8;
    transform: scale(1.05);
}
.btn-primary{
    font-size: 13px;
    font-weight: 400;
    background-color: #3E3E3E;
    border: 1px solid #000;
    color: #fff;
}
.btn-secondary{
    font-size: 13px;
    font-weight: 400;
    background-color: #fff;
    border: 1px solid #000;
    color: #000000;
}
.hide-scrollbar {
    overflow: hidden;
    position: fixed;
    width: 100%;
}
.socials a{
    color: #3E3E3E;
    font-size: 35px;
    margin: 0 10px;
    transition: 0.3s ease, transform 0.3s ease;
}
.socials a:hover{
    transform: scale(1.05);
    color: #000;
}